@font-face {
	font-family: Irsans;
	font-style: normal;
	font-weight: 500;
	src: url('fonts/IRANSansweb.eot');
	src:url('fonts/IRANSansweb.eot?#iefix'), url('fonts/IRANSansweb.woff2')format('woff2'),url('fonts/IRANSansweb.woff')format('woff'),url('fonts/IRANSansweb.ttf')format('truetype');
}
body {
	direction: rtl;
	font: 12px Irsans;
}
a {
	text-decoration: none;
}
.clear{
	clear: both;
}
.container-full {
	width: 100%;
}
.container{
	width: 80%;
}
.header{
	background-color: #3b3b3b;
	height: 200px;
	text-align: center;
	margin-top: 0;
	padding:20px 20px 20px 40px;
}
.header h1, .header h1 a , .header h1 a:visited, .header h1 a:active {
	color: #C25100;
	font-size: 36pt;
	text-decoration: none;
 }
body {
	padding-right: 15px;
}
.content{
	margin-right: 40pt;
	text-align: right;
}
.date {
	color: #828282;
}
.save{
	float: right;
}
.post-form textarea, .post-form input{
	width: 100%;
}
.top-menu, .top-menu:visited {
	color:#ffffff;
	float: right;
	font-size: 26pt;
	margin-left: 20px;
}
.post{
	margin-bottom: 70px;
}
.post h2 a, .post h2 a:visited{
	color: #C25100;
}
.col-md-8 {
	float: right;
}